# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
ios/RCTCamera.xcodeproj/xcuserdata
ios/RCTCamera.xcodeproj/project.xcworkspace
.DS_Store
.idea
*.iml
android/build
